<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav>
    <h1><a href="/">SHOP</a></h1>
    <ul>
        <% if (user) { %>
            <% if (user.role === 'administrator') { %>
                <li><a href="/create-manager">Create Manager</a></li>
            <% } %>
                <% if (user.role !== 'buyer' ) { %>
                    <li><a href="/create-car">advertise</a></li>
                <% } %>
                <% if (user.role === 'seller' && user.premium === false) { %>
                    <li><a href="/users/upgrade">Upgrade to Premium</a></li>
                <% } %>
                <li class="welcome">Welcome, <%= user.username %></li>
                <% if ( user.premium === true) { %>
                    <li class="premium">PREMIUM</li>
                <% } %>
            <li><a href="/users/logout">Log out</a></li>
        <% } else { %>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup" class="btn">Sign up</a></li>
        <% } %>
    </ul>

</nav>
