<%- include('partials/header'); -%>

<form action="/cars/create-car" method="POST">
    <h2>CREATE AN AD</h2>
    <label for="brand">Brand</label>
    <input type="text" name="brand" required />
    <label for="model">Model</label>
    <input type="text" name="model" required />
<!--    <div class="email error"></div>-->
    <label for="year">Year</label>
    <input type="text" name="year" required />
<!--    <div class="password error"></div>-->
    <div>
    <label for="price">Price</label>
    <input type="text" name="price" required />
    <label for="currency">Currency</label>
    <select class="currency" name="currency" required>
        <option value="dollar">Dollar</option>
        <option value="euro">Euro</option>
        <option value="hryvnia">Hryvnia</option>
    </select>
        <label for="region">Region</label>
        <input type="text" name="region" required />
    <label for="price">Description</label>
        <textarea id="description" name="description" required></textarea>
    <button type="submit">Create</button>
    </div>
</form>

<%- include('partials/footer'); -%>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const brand = form.brand.value;
        const model = form.model.value;
        const year = form.year.value;
        const currency = form.currency.value;
        const price = form.price.value;
        const description = form.description.value;
        const region = form.region.value;

        try {
            const res = await fetch('/cars/create-car', {
                method: 'POST',
                body: JSON.stringify({ brand, model, year, currency, price, description, region }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);

            if (data.car) {
                location.assign('/');
            }

        } catch (err) {
            console.log(err);
        }
    });
</script>
