<%- include('partials/header'); -%>

<header>
    <div class="home">
    </div>
    <div class="header">
        <h2>Home</h2>
        <h3>Home</h3>

    </div>
</header>


<%- include('partials/footer'); -%>