<%- include('partials/header'); -%>
<pre id="decoded-token-container"></pre>

<section class="home">
   <div class="home-header"><a href="/cars/shop">SHOP ALL</a></div>
</section>

<%- include('partials/footer'); -%>
