/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.2rem;
    letter-spacing: 1px;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;
}
img {
    border-radius: 50%;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
    font-family: 'Quicksand', sans-serif;
    color: #444;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fafafa;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}
nav ul{
    display: flex;
}
nav li{
    margin-left: 20px;
}

nav h1 {
    font-size: 1.3em;
}
nav li a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
}
.btn{
    border-radius: 20px;
    background: #FEE996;
}
form h2{
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 20px;
}
form{
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.1);
    border: solid 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    background: white;

}
input{
    padding: 5px 6px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 0.8em;
    width: 100%;
}
label{
    display: block;
    margin: 10px 0 10px;
    font-size: 0.7em;
    font-weight: bold;

}
textarea {
    width: 100%;
    font-size: 0.8em;
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 70px;
}

.contact {
    width: 100%;
}
button{
    margin-top: 30px;
    border-radius: 10px;
    background: #FEE996;
    border:0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

.error{
    color: #ff0099;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}


.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header img{
    width: 250px;
    margin-right: 40px;
}
header h2{
    font-size: 1.5em;
    margin-bottom: 10px;

}
header h3{
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 2px;
    color: #999;
}
header .btn{
    margin-top: 20px;
    padding: 12px 18px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
}
.all-cars-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.premium {
    color: gold;
    font-weight: bold;
}

select {
   width: 100%;
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 4px;
    background: white;
    font-size: 0.8em;
}
.all-cars  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;

}
.welcome {
    font-size: 20px;
    font-weight: bold;
    color: #ff0099;

}
.messages-main {
    text-align: center;
    width: 80%;
}
.messages-main h3 {
    margin: 10px;
}

.car, .car-each, .messages {
    background: white;
    border-radius: 10px;
    margin: 10px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    padding: 35px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border: solid 1px rgba(0, 0, 0, 0.04);

}
.messages {
    flex-direction: row;
    align-items: center;
}
.car  {
    flex: 0 0 calc(35% - 10px);
    flex-direction: column;
    align-items: flex-start;

}
.car-each {
    flex: 0 0 calc(55% - 10px);
    flex-direction: column;
    align-items: flex-start;
}
.message-element {
    flex: 0 0 calc(45% - 10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.car h2 {
    font-size: 25px;
}
.car p {
    font-size: 20px;
}
footer{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    color: #aaa;
    bottom: 0;
    width: 100%;
    padding: 15px;
    position: fixed;
    background: #fafafa;
    font-size: 0.7em;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);

}
