@import url('https://fonts.googleapis.com/css2?family=Play&family=Rajdhani:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 120px;
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #0a0a1f;
}


h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer {
    font-family: 'Play', sans-serif;
    color: #e0e0e0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    z-index: 999;
    height: 65px;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav h1 {
    font-size: 1.1em;
}

nav li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
}

.btn {
    border-radius: 3px;
    background: rgba(255, 0, 0, 0.22);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

form h2 {
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

form {
    width: 500px;
    margin: 10px auto;
    padding: 30px;
    border: solid 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
}

input, select {
    padding: 5px 6px;
    border-radius: 4px;
    border: none;
    background-color: rgba(249, 0, 0, 0.25);
    font-size: 0.8em;
    width: 100%;
    color: #e0e0e0;
}

label {
    display: block;
    margin: 10px 0 10px;
    font-size: 0.8em;
    font-weight: bold;
}

textarea {
    width: 100%;
    font-size: 0.8em;
    border-radius: 4px;
    border: none;
    height: 70px;
    background-color: rgba(249, 0, 0, 0.25);
    color: #e0e0e0;
}

.contact {
    width: 100%;
}

button {
    margin-top: 20px;
    border-radius: 3px;
    background: rgba(168, 10, 10, 0.4);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7em;
    display: block;
    padding: 10px 15px;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.error {
    color: #ff0000;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img {
    width: 250px;
    margin-right: 40px;
}

.all-cars-header {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.all-cars h2 {
    margin-bottom: 5px;
}

header .btn {
    margin-top: 20px;
    padding: 12px 18px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
}

.all-cars-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.premium {
    color: #002aff;
    font-weight: bold;
}

.divider {
    color: #d40707;
}

select {
    width: 100%;
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 4px;
    font-size: 0.8em;
}

.all-cars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.welcome {
    font-size: 20px;
    font-weight: bold;
    color: #d40707;
}

.messages-main {
    text-align: center;
    width: 80%;
}

.messages-main h3 {
    margin: 10px;
}

.car, .car-each, .messages {
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    background-color: rgba(18, 11, 66, 0.4);
    border-radius: 3px;
    margin: 5px;
    min-height: 270px;
    display: flex;
    justify-content: center;
    padding:45px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.72);
    border: solid 1px rgba(0, 0, 0, 0.04);
}

.messages {
    flex-direction: row;
    align-items: center;
    padding: 10px !important;
}

.car {
    flex: 0 0 calc(27% - 5px);
    flex-direction: column;
    align-items: flex-start;
}

.car-each {
    flex: 0 0 calc(55% - 10px);
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
}

.message-element {
    flex: 0 0 calc(45% - 5px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.car h2 {
    font-size: 22px;
}

footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    color: #aaa;
    bottom: 0;
    width: 100%;
    padding: 15px;
    position: fixed;
    font-size: 0.7em;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    height: 45px;
}

.home {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header {
    font-size: 3em;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    padding: 20px 30px;
    transition: ease-in-out 0.5s;
}

.home-header:hover {
    transform: scale(1.1);
}
